.padtop25{
	padding-top: 25px;
}
.padleft0{
	padding-left: 0px;
}
.padright0{
	padding-right: 0px;
}
.padbot5{
	padding-bottom: 5px;
}
.addbtn_style{
	line-height: 104px;white-space: nowrap;
}